/*custom ion color*/
:root {
  --ion-color-pink: #ff3366;
  --ion-color-pink-rgb: 255, 51, 102;
  --ion-color-pink-contrast: #ffffff;
  --ion-color-pink-contrast-rgb: 255, 255, 255;
  --ion-color-pink-shade: #e02d5a;
  --ion-color-pink-tint: #ff4775;
}

.ion-color-pink {
  --ion-color-base: var(--ion-color-pink);
  --ion-color-base-rgb: var(--ion-color-pink-rgb);
  --ion-color-contrast: var(--ion-color-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-pink-shade);
  --ion-color-tint: var(--ion-color-pink-tint);
}

/*ttf fonts*/
@font-face {
  font-family: "mohaveLight";
  src: url("../assets/fonts/mohave/mohave.light.ttf");
}

@font-face {
  font-family: "mohaveRegular";
  src: url("../assets/fonts/mohave/mohave.regular.ttf");
}

@font-face {
  font-family: "mohaveMedium";
  src: url("../assets/fonts/mohave/mohave.medium.ttf");
}

@font-face {
  font-family: "mohaveBold";
  src: url("../assets/fonts/mohave/mohave.bold.ttf");
}

/*loading style*/
.loading {
  font-family: 'Fjalla One', sans-serif;
  --spinner-color: var(--ion-color-pink);
}

/*app title style*/
.appName {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font: normal 175% "mohaveBold";
}

.title {
  text-align: center;
  font: normal 150% "mohaveLight";
}

/*search bar style*/
.searchBar {
  font-family: 'Fjalla One', sans-serif;
}

#searchBarA {
  height: 40px;
  --icon-color: var(--ion-color-pink);
  padding-right: 10px;
}

#searchBarB {
  height: 40px;
  padding: 0px;
  --icon-color: var(--ion-color-pink);
}

#searchBarC {
  height: 40px;
  --icon-color: var(--ion-color-pink);
  padding-left: 10px;
}

/*ion grid style*/
.md .hydrated {
  padding-left: 0px;
  padding-right: 0px;
}

/*search button style*/
#searchButton {
  font-family: 'Fjalla One', sans-serif;
  display: block;
  width: 150px;
  margin: 0 auto 10px auto;
  height: 35px;
  min-height: 35px;
}

/*segment button style*/
.segment {
  width: 50%;
}

.segmentButton {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  margin-bottom: 5px;
  height: 35px;
  min-height: 35px;
  --background: rgba(232, 232, 232, 1);
  --border-radius: 5px;
  --background-checked: black;
  --color-checked: white;
  --indicator-color: var(--ion-color-pink);
  --indicator-height: 3px;
}

.tableContent {
  width: 80%;
  margin: auto;
}

/*pagination style*/
.pagination {
  margin-top: 5px;
  width: 100%;
}

#paginationBPrevious {
  font-family: 'Fjalla One', sans-serif;
  margin: 0px 5px 0px 0px;
}

#paginationBNext {
  font-family: 'Fjalla One', sans-serif;
  margin: 0px;
  margin-right: 0px;
}

#go2Page {
  text-align: right;
}

#rowsPPage {
  text-align: right;
}

#goToPage {
  margin: 0;
  padding: 0;
}

#rowsPerPage {
  margin: 0;
  padding: 0;
}

#goToPage > li {
  display: inline-block;
}

#rowsPerPage > li {
  display: inline-block;
}

#ionLabel {
  font-family: 'Fjalla One', sans-serif;
  width: 50px;
}

#ionSelect {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 50px;
  background-color: black;
  border-radius: 5px;
  text-align: right;
}

ion-select::part(icon) {
  color: white;
  opacity: 0.6;
}

#ionLabel1 {
  font-family: 'Fjalla One', sans-serif;
  width: 50px;
  margin-right: 0px !important;
}

#ionSelect1 {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 50px;
  background-color: black;
  border-radius: 5px;
}

#of {
  font-family: 'Fjalla One', sans-serif;
}

@media (max-width: 768px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .segmentButton {
    margin-top: 10px;
  }
  
  .tableContent {
    width: 90%;
  }
  
  table tr {
    font: normal 80% "Fjalla One" !important;
  }

  ion-card-header {
    padding-bottom: 0px;
  }

  #searchBarA {
    height: 40px;
    --icon-color: var(--ion-color-pink);
    padding-right: 0px;
  }

  .searchbar-input {
    font-size: 10px !important;
  }
  
  .searchbar-input.sc-ion-searchbar-md {
    padding-inline-start: 30px;
    padding-inline-end: 0px;
  }

  .searchbar-search-icon.sc-ion-searchbar-md {
    left: 7px;
  }
  
  #paginationBNext {
    float: right;
  }

  #go2Page {
    text-align: left;
  }
}