/*ttf fonts*/
@font-face {
  font-family: "mohaveLight";
  src: url("../assets/fonts/mohave/mohave.light.ttf");
}
  
@font-face {
  font-family: "mohaveRegular";
  src: url("../assets/fonts/mohave/mohave.regular.ttf");
}
  
@font-face {
  font-family: "mohaveMedium";
  src: url("../assets/fonts/mohave/mohave.medium.ttf");
}
  
@font-face {
  font-family: "mohaveBold";
  src: url("../assets/fonts/mohave/mohave.bold.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.main {
  text-align: center;
  /* margin: auto auto; */
  /* border: 1px solid black; */
  /* padding: 40% auto; */
}

#errortext {
    /* position: absolute; */
    margin-top: 30%;
    font-size: 30px;
}

#searchBar {
  font-family: 'Fjalla One', sans-serif;
  height: 40px;
  --icon-color: var(--ion-color-pink);
}

.emptySlot {
    background-color: black;
}

.performaceSlotResult {
  color: white;
  background: url("../assets/png/highlight.png");
  background-repeat: no-repeat;
  background-position: center;
}

/*result viewer table*/
#resultViewer {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  border: 3px solid black;
  width: 100%;
  margin: 0 auto;
}

#resultViewer th {
  padding: 5px;
  background-color: var(--ion-color-pink);
  border: 3px solid black;
} 

#resultViewer td {
  padding: 5px;
  border: 3px solid black;
} 

#checkboxSection ion-item, #checkboxSection1 ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
}

#checkboxSection {
  float: right;
  width: auto;
  margin-top: 26px;
}

#checkboxSection1 {
  float: right;
  width: auto;
}

#checkbox {
  --background-checked: var(--ion-color-pink);
  --border-color-checked: var(--ion-color-pink);
  --border-radius: 50px;
  --size: 20px;
}

#checkboxTitle {
  font-family: 'Fjalla One', sans-serif;
  margin-right: 10px;
}

#popularityDesc {
  font: normal 80% "Fjalla One" !important;
  margin-top: 10px;
}

#popularityCount {
  font-family: 'Fjalla One', sans-serif;
  clear: right;
  float: right;
  margin-top: 10px;
}

@media (max-width: 768px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  #checkbox {
    --size: 15px;
  }

  #checkboxSection {
    margin-top: 17px;
  }

  #checkboxTitle {
    font: normal 80% "Fjalla One" !important;
  }

  #popularityDesc {
    font: normal 60% "Fjalla One" !important;
    margin-top: 5px;
  }

  #popularityCount {
    font: normal 80% "Fjalla One" !important;
    margin-top: 0px;
  }
  
}
